@import "tailwindcss";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@plugin '../hero.ts';

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Swiper */
  --swiper-navigation-size: 2rem;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 0.5rem;
  --swiper-theme-color: #ffffff;
  --swiper-pagination-bullet-size: 0.75rem;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 30rem;
  --breakpoint-md: 40rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --leading-slim: 0.875;

  /* Serif sizes
  --text-9xl: 8.4em;
  --text-8xl: 7.6em;
  --text-7xl: 6.8em;
  --text-6xl: 6.2em;
  --text-5xl: 5.6em;
  --text-4xl: 5em;
  --text-3xl: 4.4em;
  --text-2xl: 3.8em;
  --text-xl: 3.2em;
  --text-lg: 2.4em;
  --text-md: 1.6em;
  --text-sm: 1em; */
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

main {
  overflow-x: hidden;
}
.hides-crollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.h-inherit {
  height: inherit;
}
.w-inherit {
  width: inherit;
}
