@import "tailwindcss";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@plugin '../hero.ts';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 30rem;
  --breakpoint-md: 40rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html,
.hides-crollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

main {
  overflow-x: hidden;
}

.h-inherit {
  height: inherit;
}
.w-inherit {
  width: inherit;
}
